/*
Fonts: Oswald Bold for titles, headers
       Source Sans Pro for regular text
Color Palette: 
    Dark green: #283618
    Olive green: #606C38
    Brown: #BC6C25
    Tan: #DDA15E 
    Khaki: #FEFAE0
*/

body{
    background-color: #FEF6C9;
    align-content: center;
    text-align: center;
    color: #283618;
}

.app-header{
    width: 100%;
    margin: auto;
    padding-top: 5%;
}

.title{
    text-decoration: none;
    color: #283618;
    font-weight: bold;
    font-size: 300%;
    text-shadow: 5px 5px 10px #606c38;
}

h1{
    padding-top: 10%;
    font-size: 200%;
    padding-bottom: 10%;
}

.login-box{
    width: 100%;
    margin: auto;
    padding-top: 10%;
    font-size: 200%;
    padding-bottom: 5%;
}