/*
Fonts: Oswald Bold for titles, headers
       Source Sans Pro for regular text
Color Palette: 
    Dark green: #283618
    Olive green: #606C38
    Brown: #BC6C25
    Tan: #DDA15E 
    Khaki: #FEFAE0
*/

body{
    background-color: #FEF6C9;
    align-content: center;
    text-align: center;
    color: #283618;
}

.app-header{
    width: 100%;
    margin: auto;
    padding-top: 5%;
}

.title{
    text-decoration: none;
    color: #283618;
    font-weight: bold;
    font-size: 300%;
    text-shadow: 5px 5px 10px #606c38;
}

h1{
    padding-top: 10%;
    font-size: 200%;
    padding-bottom: 10%;
}

#username-container{
    font-size: 150%;
    padding-bottom: 5%;
}

#message-overlay{
    display: none; /* Initially hidden */
    position: fixed; /* Overlay the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DDA15E; /* Semi-transparent background */
    z-index: 10; /* Ensure it's on top of other elements */
    text-align: center; /* Center the message */
  }
  
#message-overlay > div {
    margin: 50px auto; /* Center the content */
    background-color: white;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px; /* Rounded corners */
    width: 600px; /* Adjust width as needed */
    position: relative;
  }
  
#message-overlay::before, #message-overlay::after {
    content: "";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  
#message-overlay::before {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 20px solid #ccc;
  }
  
#message-overlay::after {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 20px solid #ccc;
  }

#message-overlay p {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}
  